[Unit]
Description=Application du firewall
After=network.target
ConditionPathExists=/etc >> ./firewall
 
[Service]
Type= oneshot
ExecStart=/etc >> ./firewall
ExecStop=/etc >> ./flush
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
